<app-header></app-header>
<div class="container">
  <app-lateral></app-lateral>
  <div class="contenedor">
    <app-barra-opc></app-barra-opc>
    <div class="main-content">
      <h2>Calendario de Solicitudes</h2>
      
      <div class="calendar-layout">
        <!-- Sección del calendario -->
        <div class="calendar-section">
          <div class="calendar-container">
            <p-calendar 
              class="max-w-full" 
              [(ngModel)]="date" 
              [inline]="true" 
              [showWeek]="false"
              (onSelect)="onDateSelect($event)" 
            />
          </div>
        </div>

        <div class="events-section">
          <div class="selected-date-info">
            <h3>Fecha seleccionada:</h3>
            <p class="selected-date">{{selectedDate | date:'fullDate':'es-ES'}}</p>
          </div>
          
          <div class="events-container">
            <h4>Eventos del día</h4>
            <div class="events-list">
              <!-- Contenedor los eventos -->

            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>