<app-header></app-header>
   

<div class="container">
        
    <app-lateral></app-lateral>
    
    <div class="contenedor">
            
        <app-barra-opc></app-barra-opc>
        <!--CORTA-->
       
        
        <div class="containerint">
            <h1>Información del Trámite</h1>
            
            <div class="info-section">
                <div class="info-box">
                    <strong>ID Trámite:</strong> <p>1</p>
                    <strong>Nombre del Producto:</strong> <p>CHOCMELOS</p>
                    <strong>PT:</strong> <p>En Creación</p>
                    <strong>Categoría de Alimento:</strong> <p>Chocolate</p>
                    <strong>Tipo de Trámite:</strong> <p>Modificación</p>
                </div>
                <div class="info-box">
                    <strong>Descripción:</strong> <p>AF, Cambio de fecha del agotamiento tr.</p>
                    <strong>Fecha de Solicitud Llegada:</strong> <p>2024-09-10</p>
                    <strong>Fecha de Envío Dctos:</strong> <p>2024-09-15</p>
                    <strong>Fecha Terminación Trámite:</strong> <p>2024-10-01</p>
                    <strong>Fecha de Notificación:</strong> <p>2024-10-05</p>
                </div>
                <div class="info-box">
                    <strong>País:</strong> <p>Colombia</p>
                    <strong>Registro Sanitario:</strong> <p>NSA-0008308-2020</p>
                    <strong>ID Seguimiento:</strong> <p>PB9-E22-W3ZZ</p>
                    <strong>Radicado o EXP:</strong> <p>20241009017</p>
                    <strong>Fecha Radicado Invima:</strong> <p>2024-09-20</p>
                </div>
                <div class="info-box">
                    <strong>Estado del Trámite:</strong> <p>Pendiente</p>
                    <strong>Solicitud Enviada por:</strong> <p>Juan Pérez</p>
                    <strong>Planta:</strong> <p>Paila</p>
                </div>
            </div>
        
            <h2>Registros del Trámite</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Fecha de Registro</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Envío de documentación adicional</td>
                        <td>2024-09-20</td>
                        <td>En proceso</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Recepción de documentos</td>
                        <td>2024-09-25</td>
                        <td>Completado</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
        



        <!--CORTA-->
    </div>
</div>